[Desktop Entry]
Name=AutoClip
Comment=Automatic game clip recorder
Exec=bash -c "~/.local/share/autoclip/autoclip/run.sh"
Icon=video-display
Terminal=false
Type=Application
Categories=Game;Utility;
StartupNotify=true
